# Python
__pycache__/
*.py[cod]
*.pyd
*.so

# Virtual environments
.venv/
venv/
ENV/

# Packaging / build
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# Logs / runtime
*.log
*.tmp

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# App data / exports
history.json
exports/
